<div class="home">
  <h1 class="primary-text">Technologieradar</h1>
  @if (this.user(); as user) {
  <p>Willkommen, {{user.name}}!</p>
  <div class="button-group">
    @if (user.appRoles.length > 0) {
    <button matButton="tonal" routerLink="/viewer">Technologieradar</button>
    <button matButton="tonal" routerLink="/technologies">Technologien</button>
    } @if(user.appRoles.includes('CTO') ) {
    <a matButton="tonal" [href]="manageUserUrl()" target="_blank">
      Benutzer verwalten
    </a>
    }
  </div>
  }@else {
  <p>Willkommen beim Technologieradar!</p>
  <button mat-flat-button color="primary" (click)="auth.authorize()">
    Einloggen
  </button>
  }
</div>
