<mat-toolbar color="primary">
  @if( user() !== undefined) {
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon></button
  >}
  <span>Technologieradar</span>
  <span class="spacer"></span>
  <button
    mat-icon-button
    [matMenuTriggerFor]="userMenu"
    aria-label="Open user menu"
    color="primary"
  >
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    @if (user(); as user) {
    <div class="menu-info-block" role="presentation">
      <div class="primary-text">Angemeldet als</div>
      <div>{{ user?.name }}</div>
      <div>{{ user?.email }}</div>
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logoff()">
      <mat-icon>logout</mat-icon>
      <span>Ausloggen</span>
    </button>
    } @else {
    <button mat-menu-item (click)="login()">
      <mat-icon>login</mat-icon>
      <span>Anmelden</span>
    </button>
    }
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="hideSidebar() || user() === undefined ? 'over' : 'side'"
    [opened]="!hideSidebar()  && user() !== undefined"
    [disableClose]="!hideSidebar() && user() !== undefined"
  >
    <mat-nav-list>
      @if (user(); as user) { @if (user.appRoles.length > 0) {
      <a
        mat-list-item
        routerLink="/viewer"
        (click)="hideSidebar() && sidenav.close()"
      >
        <mat-icon matListItemIcon>radar</mat-icon>
        <span matListItemTitle>Technologieradar</span>
      </a>
      <a
        mat-list-item
        routerLink="/technologies"
        (click)="hideSidebar() && sidenav.close()"
      >
        <mat-icon matListItemIcon>table_chart</mat-icon>
        <span matListItemTitle>Technologien</span>
      </a>
      } @if(user.appRoles.includes('CTO') ) {
      <a
        mat-list-item
        [href]="manageUserUrl()"
        target="_blank"
        (click)="hideSidebar() ? sidenav.close() : null"
      >
        <mat-icon matListItemIcon>manage_user</mat-icon
        ><span matListItemTitle> Benutzer verwalten</span></a
      >
      } }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
